{% extends "navigation.html" %}
{% block content %}
    <img src="{{annotation.photo.url}}" alt="{{ annotation.photo }}">
    {% autoescape off %}
    <p>{{ annotation.description }}</p>
    <p>{{ annotation.text }}</p>
    {% endautoescape %}
    {% if annotation.annot_id == 3 %}
        <a href="{% url 'Chapter' 1%}">Next</a>
    {% else %}
        <a href="{% url 'Annotation' annotation.next_annotation %}">Next</a>
    {% endif %}
    {% if annotation.annot_id != 1 %}
        <a href="{% url 'Annotation' annotation.prev_annotation %}">Previous</a>
    {% endif %}
{% endblock %}