{% extends "navigation.html" %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
            <p class="text_login"><label class="form-label" for="{{ f.id_for_label }}"></label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <button class="enter" type="submit">Войти</button>
    </form>
    <a href="{% url 'registration' %}">Регистрация</a>
{% endblock %}