{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<section>
    <a href="{% url 'Home' %}">Главная</a>
    <a href="{% url 'Rules' %}">Правила</a>
    {% if request.user.is_authenticated %}
        <b>{{ user.first_name }} {{ user.last_name }}</b>
        <a href="{% url 'logout' %}">Выйти</a>
        <h1>{{ score.cur_score }}</h1>
        {% else %}
        <a href="{% url 'login' %}">Войти</a>
    {% endif %}
    {% block content %}
    {% endblock  %}
</section>
</body>
</html>