{% extends "navigation.html" %}
{% block content %}
    <h1>Правила</h1>
    <p>В течение игры каждый ход Вам будет предлагаться выбор из трех или двух вариантов ответа, от которого будет зависеть судьба Вашего героя и князя, за которым Вы стоите. Наиболее успешный выбор даст дружиннику большее количество очков. От выбора зависит и достаток Вашего героя: за те или иные ходы Вы будете получать трофеи, которые также влияют на конечный результат борьбы за княжеский стол. Будьте внимательны: некоторые варианты ответа могут привести Вас и Вашего князя к гибели или к бесславному окончанию путешествия, выбирайте с умом!</p>
    <h2>Цель</h2>
    <p>Ваша цель – выжить, заручиться союзниками и захватить княжеский престол для своего князя.</p>
{% endblock %}